<style>
	#color-me-in {
		background-color: <%= @color %>;
		color: white;
		width: 250px;
		height: 250px;
	}
</style>

<h1>About Stuff</h1>

<div id="color-me-in">

	<p>You chose the color <%= @color %></p>

</div>